*{
    margin: 0;
    padding: 0;
}

html {
    background-color:#E5E5E5;
}

section {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;


    
    width: 57%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;

}

.menina__musica {
    border-radius: 20px 20px 0px 0px;
}

.conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 35px;
}

.conteudo__principal {
    color: hsl(224, 23%, 55%);
    margin-top: 20px;
    width: 50%;
    text-align: center;
}

.plano__escolha {
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 343px;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}


.plano,
.cancelar {
    font-weight: bold;
}

.preco {
    color: hsl(224, 23%, 55%);
}

.mudanca {
    color: hsl(245, 75%, 70%);
}

button {
    background-color: hsl(245, 75%, 70%);
    color: hsl(225, 100%, 98%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    border: solid 1px;
    border-radius: 10px;
    height: 44px;
    width: 370px;
    margin-top: 25px
}

.cancelar {
    margin: 20px 0px 35px 0px;
}